<footer class= "d-flex filter-black w100 h5vh justify-content-between align-items-center h5vh-mobile mt-6 rubik">
    <div class="w40 d-flex justify-content-around w100-mobile">

        <p class="color-1 fs-28">© Youpload - 2018</p>

        <a href="#" class="color-1 fs-28 opacity07">Mentions légales et conditions générales d'utilisation</a>

    </div>
    <div class="p-r-20">
        <p class="color-1 fs-28 none-mobile">Powered by Romain Wenger, Valentin Gaillard & Jimmy Caricchio. </p>
    </div>
</footer>
