<footer class= "d-flex ptb-30 filter-black justify-content-around align-items-center rubik w100 mt-10 w100-mobile w100-medium">  
    <p class="color-1 fs-28">© Youpload - 2018</p>
    <a href="#" class="color-1 fs-28 opacity07">Mentions légales / CGU</a>
</footer>
