<!DOCTYPE html>
<html>
    <head>
        <base href="http://localhost/wetransfer_like/">
        <!--Import Google Icon Font-->
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}U pload{% endblock %}</title>
        <link type="text/css" href="./assets/css/reset.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Exo:100i,200i,300i,400,700i|Rubik:400,700i" rel="stylesheet">
        <link rel="stylesheet" href="./assets/css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    </head>
    
    <body class="h100vh bg-img-1">
        {% include 'Layout/nav.html.twig' %}
        
        <main class="container m-auto">
            {% block content %}{% endblock %}
        </main>
        
        {% include 'Layout/footer.html.twig' %}
        <script src="./assets/js/jquery.min.js"></script>        
        <script src="./assets/js/script.js"></script>        
    </body>
</html>