<!DOCTYPE html>
<html>
    <head>
        <base href="http://localhost/my-rpg/">
        <!--Import Google Icon Font-->
        
        <link rel="stylesheet" href="./assets/css/reset.css">
        <link rel="stylesheet" href="./assets/css/style.css">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}My RPG{% endblock %}</title>
    </head>
    
    <body>
        {% include 'Layout/nav.html.twig' %}
        
        <main>
            {% block content %}{% endblock %}
        </main>
        
        {% include 'Layout/footer.html.twig' %}        
    </body>
</html>