<!DOCTYPE html>
<html>
    <head>
        <base href="http://localhost/wetransfer_like/">
        <!--Import Google Icon Font-->
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}U pload{% endblock %}</title>

        <link type="text/css" href="./assets/css/reset.css" rel="stylesheet">
        <link rel="stylesheet" href="./assets/css/style.css">

    </head>
    
    <body class="h100vh bg-img-1">
        {% include 'Layout/nav.html.twig' %}
        
        <main class="container m-auto">
            {% block content %}{% endblock %}
        </main>
        
        {% include 'Layout/footer.html.twig' %}        
    </body>
</html>