<nav class="w100 filter-black flex-grow-1 d-flex" role="navigation">
    <div class="container m-auto d-flex justify-content-center">
        <img src="assets/img/logo.png" alt="Logo">
    </div>
</nav>