<nav class="w100 filter-black d-flex flex-grow-1" role="navigation">
<div class="container m-auto d-flex justify-content-center p-10">
    <a href="http://localhost/wetransfer_like/"><img src="assets/img/logo.png" alt="Logo"></a>
</div>
</nav>