{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Page Introuvable</title>
{% endblock %}

{% block content %}
    <h1 class="roboto">Page Introuvable</h1>
{% endblock %}