{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Page Introuvable</title>
{% endblock %}

{% block content %}
    <img src="./assets/img/error404.gif" class="img-responsive">
{% endblock %}