/* Reset all basic css */
@import "reset.css";

/* Init pour les font size en REM */
html,body{font-size:62.5%;}

/* ================================================================
                    Media queries container responsive
================================================================ */

@media (min-width: 1200px)
{
    .container{max-width: 1000px;}
}

@media (max-width: 1200px)
{
    .container{max-width: 680px;}
}

@media (max-width: 768px)
{    
    .container{max-width: 550px;}
}

@media (max-width: 576px)
{
    
    .container{max-width: 100%;}
}

/* ================================================================
                        CLASSES GENERIQUE
================================================================ */

    /* Width + height */
    
    .w100{width: 100%;}

    .h100vh{height: 100vh;}

    /* Color + Background color/img + border */

    .color-1{color: #FFD8B9;} /* Beige */
    .color-2{color: #E85743;} /* Orange */
    .error{color: red;}
    .success{color:green;}



    .bg-img-1{
        background: url("../img/bg1.jpg") no-repeat center center;
        background-size: cover;
    }
    .bg-img-2{
        background: url("../img/bg2.jpg") no-repeat center center;
        background-size: cover;
    }
    .bg-img-3{
        background: url("../img/bg3.jpg") no-repeat center center;
        background-size: cover;
    }

    /* Flex box */

    .d-flex{display:flex;}
    .justify-content-center{justify-content:center;}

    /* Font family + font size */

    .fs-50{font-size: 50px;}
    .fs-20{font-size: 20px;}

    /* Margin + padding */

    .m-auto{margin: auto;}

    .p-20{padding:20px;}


/* ================================================================
                        CLASSES SPECIFIQUE
================================================================ */
    
    .filter-black-nav{background-color: rgba(0,0,0,.5); z-index:9999;}

