{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Download</title>
{% endblock %}

{% block content %}
<h1>{{ uploadInfos.TRA_FICHIER }}</h1>
<p>{{ uploadInfos.TRA_EXPEDITEUR }}</p>
<p>Ceci est la page download</p>



{% endblock %}