{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Download</title>
{% endblock %}

{% block content %}
<p>Ceci est la page download</p>

{%   for results in result   %}
{{ results.tra_id }}
{%   endfor   %}

{% endblock %}