{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Success</title>
{% endblock %}

{% block content %}
<section class="ptb-30 h60vh d-flex justify-content-around justify-content-center-mobile h60vh-mobile">
    <div class="w30 none-mobile">
        <div class="d-flex column borderleft-1 pl-50 none-mobile">
                <h5 class="fs-4 text-center white raleway fw-300">Nothing is lost,</h5>
                <h5 class="fs-5 text-center white raleway fw-300 mt-6">Nothing is created,</h5>
            </div>
    </div>
    <div class="h100 w40 bg-color-1 exo d-flex column justify-content-around break-word w100-mobile">    
        <div>
            <p class="fs-50 fw-300 opacity07 p-5 text-center ">Votre fichier</p>
            <p class="fs-50 fw-500 text-center ">"{{ uploadInfos.TRA_FICHIER }}"</p>
            <p class="fs-50 fw-300 opacity07 p-5 text-center ">a bien été envoyé</p>
        </div>
        <div>
            <p class="fs-50 fw-300 opacity07 p-5 text-center ">À l'adresse</p>
            <p class="fs-50 fw-500 text-center ">{{ uploadInfos.TRA_DESTINATAIRE }}</p>
        </div>
        <div class="bg-color-2 w75 align-self-center">
                <p class="white exo fs-28 ptl-10">LIEN DU FICHIER :</p>
                <div class="pbl-10">
                    <a class="color-3 fs-18 bg-color-white">http://localhost/wetransfer_like/upload/{{ uploadInfos.TRA_FICHIER }}</a>
                </div>
        </div>
        <a href="http://localhost/wetransfer_like" class=" text-decoration-none d-flex justify-content-around bg-color-2 exo white fs-38 m-w50 align-self-center ptb-10-15">
                <i class="fas fa-arrow-circle-left plr-5px"></i>
                <p>ACCUEIL</p>
        </a>
    </div>

    <div class="w30 d-flex column justify-content-end none-mobile">
        <div class="d-flex column align-self-center mtb-30">
            
            <h4 class="mt-25 fs-4 italic white raleway fw-300 pl-80 "><span class="pb-10 borderbot-1">Everything is transfered</span></h4>
        </div>
        
    </div>

</section>


    
    
<p></p>
<p></p>

<section class="h15vh d-flex column align-items-center none-mobile">
<!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
<svg class="svg-responsive" enable-background="new 0 0 1920 175" version="1.1" viewBox="0 0 1920 175" stroke="#fff" stroke-width="3" opacity="0.5" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
	<circle cx="201.28" cy="88.082" r="52.321" fill="#fff" opacity="0.5"/>
	<path d="m201.28 141.1c-29.235 0-53.019-23.784-53.019-53.02 0-29.234 23.784-53.018 53.019-53.018 29.234 0 53.019 23.783 53.019 53.018-1e-3 29.235-23.785 53.02-53.019 53.02zm0-104.64c-28.465 0-51.624 23.158-51.624 51.623 0 28.467 23.159 51.625 51.624 51.625s51.624-23.158 51.624-51.625c-1e-3 -28.465-23.159-51.623-51.624-51.623z"/>
	<circle cx="960" cy="88.082" r="52.322" fill="#fff" opacity="0.5"/>
	<path d="m960 141.1c-29.234 0-53.019-23.784-53.019-53.02 0-29.234 23.784-53.018 53.019-53.018 29.234 0 53.017 23.783 53.017 53.018 1e-3 29.235-23.783 53.02-53.017 53.02zm0-104.64c-28.466 0-51.623 23.158-51.623 51.623 0 28.467 23.157 51.625 51.623 51.625s51.623-23.158 51.623-51.625c0-28.465-23.156-51.623-51.623-51.623z"/>
	<circle cx="1719.3" cy="88.082" r="52.321" fill="#fff" />
	<path d="m1719.3 141.1c-29.234 0-53.018-23.784-53.018-53.02 0-29.234 23.783-53.018 53.018-53.018s53.02 23.783 53.02 53.018-23.785 53.02-53.02 53.02zm0-104.64c-28.465 0-51.623 23.158-51.623 51.623 0 28.467 23.158 51.625 51.623 51.625 28.467 0 51.625-23.158 51.625-51.625 0-28.465-23.158-51.623-51.625-51.623z"/>
<rect x="253" y="88" width="655" height="1"/>
<rect x="1013" y="88" width="655" height="1"/>
</svg>
<div class="w75 exo white d-flex justify-content-between fs-38 italic">
    <p class="fw-100">Upload</p> 
    <p class="fw-100">Envoi</p> 
    <p class="fw-600">Terminé</p> 
</div>
</section>
{% endblock %}