{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Transfert</title>
{% endblock %}

{% block content %}

{{expediteur}}
{{destinataire}}
<form method="POST" action="success" >
    <input type="submit" name="submitTransfert" value="Continuer"/>
</form>

<p> Oui </p>
{% endblock %}